{
  "openapi": "3.1.0",
  "info": {
    "title": "Wazoo Platform API",
    "version": "0.1.0",
    "description": "Management-plane API for Wazoo users, Worlds, platform tokens, usage, limits, and beta billing."
  },
  "servers": [
    {
      "url": "https://api.wazoo.dev",
      "description": "Wazoo Platform API"
    }
  ],
  "security": [
    {
      "bearerPlatformToken": []
    }
  ],
  "tags": [
    {
      "name": "Health"
    },
    {
      "name": "Users"
    },
    {
      "name": "Worlds"
    },
    {
      "name": "PlatformTokens"
    },
    {
      "name": "WorldTokens"
    },
    {
      "name": "Usage"
    },
    {
      "name": "Billing"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerPlatformToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "wzp",
        "description": "Wazoo platform API token."
      }
    },
    "parameters": {
      "EmailQuery": {
        "name": "email",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "format": "email"
        },
        "description": "User email to operate on when using an admin token. User tokens ignore this parameter."
      },
      "WorldId": {
        "name": "worldId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid platform token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient scope or access",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "required": [
          "uid",
          "email",
          "state"
        ],
        "properties": {
          "uid": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "displayName": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "ACTIVE"
            ]
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "World": {
        "type": "object",
        "required": [
          "name",
          "uid",
          "worldId",
          "displayName",
          "region",
          "state",
          "restorable",
          "backend"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          },
          "worldId": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "SUSPENDED",
              "DELETED"
            ]
          },
          "restorable": {
            "type": "boolean"
          },
          "backend": {
            "type": "string",
            "enum": [
              "worlds-api"
            ]
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time"
          },
          "deleteTime": {
            "type": "string",
            "format": "date-time"
          },
          "expireTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateWorldRequest": {
        "type": "object",
        "required": [
          "worldId",
          "world"
        ],
        "properties": {
          "ownerEmail": {
            "type": "string",
            "format": "email"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "worldId": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9-]{2,62}$"
          },
          "world": {
            "type": "object",
            "required": [
              "displayName"
            ],
            "properties": {
              "displayName": {
                "type": "string"
              },
              "region": {
                "type": "string",
                "default": "auto"
              }
            }
          }
        }
      },
      "UpdateWorldRequest": {
        "type": "object",
        "required": [
          "updateMask",
          "world"
        ],
        "properties": {
          "updateMask": {
            "type": "string",
            "description": "Comma-separated list of fields: displayName, region, state."
          },
          "world": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string"
              },
              "region": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "SUSPENDED"
                ]
              }
            }
          }
        }
      },
      "PlatformToken": {
        "type": "object",
        "required": [
          "uid",
          "name"
        ],
        "properties": {
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "last_used_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformTokenCreateRequest": {
        "type": "object",
        "properties": {
          "user": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "tokenName": {
            "type": "string"
          },
          "scope": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PlatformTokenCreateResponse": {
        "type": "object",
        "required": [
          "uid",
          "name",
          "token"
        ],
        "properties": {
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "WorldToken": {
        "type": "object",
        "required": [
          "uid",
          "name",
          "worldId"
        ],
        "properties": {
          "uid": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "worldId": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WorldTokenCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "WorldTokenCreateResponse": {
        "type": "object",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WorldToken"
              }
            ],
            "properties": {
              "token": {
                "type": "string"
              }
            }
          }
        }
      },
      "SyncReport": {
        "type": "object",
        "required": [
          "status",
          "actions",
          "warnings",
          "errors"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "OK"
            ]
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UsageEvent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "metric": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "unit": {
            "type": "string"
          },
          "providerCostMicrocents": {
            "type": [
              "integer",
              "null"
            ]
          },
          "wazooMarkupMicrocents": {
            "type": "integer"
          },
          "estimatedCostMicrocents": {
            "type": [
              "integer",
              "null"
            ]
          },
          "billingSource": {
            "type": "string"
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UsageRecordRequest": {
        "type": "object",
        "required": [
          "metric",
          "quantity"
        ],
        "properties": {
          "user": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "metric": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "unit": {
            "type": "string"
          },
          "providerCostMicrocents": {
            "type": "integer"
          },
          "wazooMarkupMicrocents": {
            "type": "integer"
          },
          "estimatedCostMicrocents": {
            "type": "integer"
          },
          "billingSource": {
            "type": "string"
          },
          "createTime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Billing": {
        "type": "object",
        "properties": {
          "world": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "provider": {
            "type": "string"
          },
          "customerConfigured": {
            "type": "boolean"
          },
          "subscriptionConfigured": {
            "type": "boolean"
          },
          "paymentRequired": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Health"
        ],
        "operationId": "getOpenApiJson",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI document"
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getUserMe",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Existing user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created user"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/worlds": {
      "get": {
        "tags": [
          "Worlds"
        ],
        "operationId": "listWorlds",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "World list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "worlds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/World"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Worlds"
        ],
        "operationId": "createWorld",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorldRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created World",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "world": {
                      "$ref": "#/components/schemas/World"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/worlds/{worldId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorldId"
        }
      ],
      "get": {
        "tags": [
          "Worlds"
        ],
        "operationId": "getWorld",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "World"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Worlds"
        ],
        "operationId": "updateWorld",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorldRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated World"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "delete": {
        "tags": [
          "Worlds"
        ],
        "operationId": "deleteWorld",
        "parameters": [
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted World"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/worlds/{worldId}/undelete": {
      "post": {
        "tags": [
          "Worlds"
        ],
        "operationId": "undeleteWorld",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored World"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/worlds/{worldId}/sync": {
      "post": {
        "tags": [
          "Worlds"
        ],
        "operationId": "syncWorld",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Sync report",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "world": {
                      "$ref": "#/components/schemas/World"
                    },
                    "syncReport": {
                      "$ref": "#/components/schemas/SyncReport"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/worlds/{worldId}/auth/tokens": {
      "get": {
        "tags": [
          "WorldTokens"
        ],
        "operationId": "listWorldTokens",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "World tokens"
          }
        }
      },
      "post": {
        "tags": [
          "WorldTokens"
        ],
        "operationId": "createWorldToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorldTokenCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created World token"
          }
        }
      }
    },
    "/v1/worlds/{worldId}/auth/tokens/{tokenUid}": {
      "delete": {
        "tags": [
          "WorldTokens"
        ],
        "operationId": "deleteWorldToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "name": "tokenUid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked"
          }
        }
      }
    },
    "/v1/auth/api-tokens": {
      "get": {
        "tags": [
          "PlatformTokens"
        ],
        "operationId": "listPlatformTokens",
        "responses": {
          "200": {
            "description": "Platform tokens"
          }
        }
      },
      "post": {
        "tags": [
          "PlatformTokens"
        ],
        "operationId": "createPlatformToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformTokenCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created platform token"
          }
        }
      }
    },
    "/v1/auth/api-tokens/{tokenName}": {
      "post": {
        "tags": [
          "PlatformTokens"
        ],
        "operationId": "createNamedPlatformToken",
        "parameters": [
          {
            "name": "tokenName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlatformTokenCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created platform token"
          }
        }
      },
      "delete": {
        "tags": [
          "PlatformTokens"
        ],
        "operationId": "deletePlatformToken",
        "parameters": [
          {
            "name": "tokenName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted platform token"
          }
        }
      }
    },
    "/v1/auth/api-tokens/validate": {
      "get": {
        "tags": [
          "PlatformTokens"
        ],
        "operationId": "validatePlatformToken",
        "responses": {
          "200": {
            "description": "Token validity"
          }
        }
      }
    },
    "/v1/worlds/{worldId}/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "operationId": "getWorldUsage",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary"
          }
        }
      },
      "post": {
        "tags": [
          "Usage"
        ],
        "operationId": "recordWorldUsage",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageRecordRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Usage accepted"
          }
        }
      }
    },
    "/v1/worlds/{worldId}/limits": {
      "get": {
        "tags": [
          "Usage"
        ],
        "operationId": "getWorldLimits",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "World limits"
          }
        }
      }
    },
    "/v1/worlds/{worldId}/billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "operationId": "getWorldBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "World billing state"
          }
        }
      }
    },
    "/v1/worlds/{worldId}/billing/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "operationId": "listWorldInvoices",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "World invoices"
          }
        }
      }
    },
    "/v1/worlds/{worldId}/billing/openPortal": {
      "post": {
        "tags": [
          "Billing"
        ],
        "operationId": "openWorldBillingPortal",
        "parameters": [
          {
            "$ref": "#/components/parameters/WorldId"
          },
          {
            "$ref": "#/components/parameters/EmailQuery"
          }
        ],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/stripe/webhook": {
      "post": {
        "tags": [
          "Billing"
        ],
        "operationId": "receiveStripeWebhook",
        "security": [],
        "responses": {
          "200": {
            "description": "Webhook received"
          }
        }
      }
    }
  }
}
